<div class="p-2">
  <div class="w-full flex justify-end">
    <button mat-icon-button (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="p-6 flex flex-grow">

    <div class="w-full grid grid-cols-2 gap-4">
      <div class="flex flex-col space-y-4">
        <strong class="text-xl">Name</strong>
        <table class="">
          <tr>
            <td class="font-bold text-sm">Common</td>
            <td class="text-sm">{{ data.name.common }}</td>
          </tr>
          <tr>
            <td class="font-bold text-sm">Official</td>
            <td class="text-sm">{{ data.name.official }}</td>
          </tr>
          <tr>
            <td class="font-bold text-sm">Common (Native)</td>
            <ng-container *ngFor="let item of data.name.nativeName | keyvalue ; let i = index">
              <ng-container *ngIf="i === 0">
                <td class="text-sm" *ngIf="isCommonNativeName(item.value)">{{ item.value.common }}</td>
              </ng-container>
            </ng-container>
          </tr>
          <tr>
            <td class="font-bold text-sm">Official (Native)</td>
            <ng-container *ngFor="let item of data.name.nativeName | keyvalue ; let i = index">
              <ng-container *ngIf="i === 0">
                <td class="text-sm" *ngIf="isOfficialTranslation(item.value)">{{ item.value.official }}</td>
              </ng-container>
            </ng-container>
          </tr>
          <tr>
            <td class="font-bold text-sm">Alternative spellings</td>
            <td class="text-sm">{{ data.altSpellings[0] }}</td>
          </tr>
        </table>
      </div>
      <div class="flex flex-col space-y-4">
        <strong class="text-xl">Language</strong>
        <table class="w-full">
          <tr>
            <td class="font-bold text-sm">Native language</td>
            <td class="text-sm">{{ data.name.common }}</td>
          </tr>
          <tr>
            <td colspan="2" class="font-bold text-sm">Languages</td>
          </tr>

          <ng-container *ngFor="let language of data.languages | keyvalue">
            <tr>
              <td class="font-bold text-sm">{{ language.key }}</td>
              <td class="text-sm">{{ language.value }}</td>
            </tr>
          </ng-container>


        </table>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title> Translations</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let translations of data?.translations | keyvalue">
              <table class="w-full">
                <tr>
                  <td class="w-20">{{ translations.key }}</td>
                  <td *ngIf="isOfficialTranslation(translations.value)">{{ translations.value.official }}</td>
                </tr>
              </table>
            </ng-container>

          </mat-expansion-panel>
        </mat-accordion>


      </div>

      <div class="flex flex-col space-y-4">
        <strong class="text-xl">Codes</strong>
        <table class="w-full">
          <tr>
            <td class="font-bold text-sm">ISO 3166-1 alpha-2</td>
            <td class="text-sm text-center">{{ data.cca2 }}</td>
          </tr>
          <tr>
            <td class="font-bold text-sm">ISO 3166-1 alpha-3</td>
            <td class="text-sm text-center">{{ data.cca3 }}</td>
          </tr>
          <tr>
            <td class="font-bold text-sm">ISO 3166-1 numeric</td>
            <td class="text-sm text-center">{{ data.ccn3 }}</td>
          </tr>
          <tr>
            <td class="font-bold text-sm">International calling code</td>
            <td class="text-sm text-center" *ngIf="data.idd.root">{{ data.idd.root.slice(1) }}{{ data.idd.suffixes }}</td>
          </tr>

          <tr>
            <td class="font-bold text-sm">ISO 4217 currency code</td>
            <td class="text-sm text-center" *ngFor="let item of data.currencies | keyvalue">{{ item.key }}</td>
          </tr>
          <tr>
            <td class="font-bold text-sm">Top level domain</td>
            <td class="text-sm text-center">{{ data.tld[0] }}</td>
          </tr>
        </table>
      </div>

      <div class="flex flex-col space-y-4">
        <strong class="text-xl">Geography</strong>
        <table class="w-full">
          <tr>
            <td class="font-bold text-sm">Region</td>
            <td class="text-sm">{{ data.region }}</td>
          </tr>
          <tr>
            <td class="font-bold text-sm">Capital</td>
            <td class="text-sm">{{ data.capital }}</td>
          </tr>
          <tr>
            <td class="font-bold text-sm">Demonym</td>
            <ng-container *ngFor="let demonyms of data.demonyms | keyvalue ; let i = index">
              <ng-container *ngIf="i === 0">
                <td class="text-sm" *ngIf="isDemonym(demonyms.value)">{{ demonyms.value.f }}</td>
              </ng-container>
            </ng-container>
          </tr>

          <tr>
            <td class="font-bold text-sm">Lat/Lng</td>
            <td class="text-sm">
              <a [href]="data.maps.googleMaps" class="text-blue-600">{{ data.capitalInfo.latlng }}</a>
            </td>

          </tr>
          <tr>
            <td class="font-bold text-sm">Area</td>
            <td class="text-sm">
              <span class="text-sm">{{ data.area }}Km<sup class="text-xs">2</sup></span>
            </td>
          </tr>
          <tr>
            <td class="font-bold text-sm">Land borders</td>
            <td class="text-sm">{{ data.borders ?? '-' }}</td>
          </tr>
        </table>
      </div>

    </div>


    <div class="flex justify-center px-6 w-96">
      <div class="flex flex-col space-y-4 items-center">
        <span class="text-xl font-bold">{{ data.name.common }} </span>
        <img [src]="data.flags.png" alt="flag" class="w-96">
      </div>

    </div>
  </div>
</div>
